@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

.fixed-noscroll {
    filter: blur(2px);
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.wrapper {
    transition: 300ms ease-out;
}

header {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 1rem;
    background-color: rgb(240 240 240);
    gap: 1rem;
    border-bottom: 2px solid #0707ff;
    box-shadow: 0 0 1rem #1616a8;

    /* for dark mode */
    /* background-color: rgb(52 60 61); */
}

header h1 {
    letter-spacing: 0.05rem;
    text-shadow: 0 0 1rem #62688f;
}

header form input {
    width: 12rem;
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.7rem;
    border: 2px solid rgb(138 146 178);
    font-size: 0.9rem;
    transition: 150ms ease-in-out;

    /* for dark mode */
    /* background: #4d4a4a;
    color: white;
    border: 1px solid #31e235; */
}

header form input:focus {
    outline: 1px solid rgb(119 119 190);
    box-shadow: 0 0 1rem #7878be;
}

.signIn-signOut {
    display: flex;
    gap: 1rem;
} 

.btn_glob {
    padding: 0.275rem 1rem;
    border-radius: 5px;
    background-color: #3668fa;
    color: white;
    border: none;
    transition: 100ms ease-in-out;
    font-size: 1rem;
    cursor: pointer;
}

.btn_glob:active {
    transform: scale(1.1);
}

.coin-body {
    display: flex;
    background-color: lightgrey;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 6rem 1rem 1rem 1rem;
    min-height: 100vh;
    overflow-x: hidden;
}
.wishlist-body{
    position: relative;
    left: 80%;
    width: 20%;
    top: 6rem;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 0.7rem 1rem;
    }
    .coin-body {
        padding: 11.5rem 1rem 1rem 1rem;
    }
}
